<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="lunch"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="lunchCheckMsg()">Check If Too Much</button>
             <srong style="font-style:italic;">I don't consider an empty item ie. , , is not count as input</strong>
         </div>
         <div class="form-group message" style="{{mystyle}}">
           <!-- Your message can go here. -->
           {{lunchMsg}}
         </div>
   </div>
   <script src="angular.min.js"></script>
   <script src="app.js"></script>
</body>
</html>
